@model BlogAplication.Models.News
@{
    ViewData["Title"] = "EditNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/newwstyle.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/styleForreg.css">

<h2>Edit</h2>
<fieldset>
    <legend>Article</legend>
    <form asp-action="EditNews">
        @Html.HiddenFor(model => model.Id)

        <p  class="control-label">
            Title <br />
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = " form-control-information" } })
        </p>

        <p class="control-label">
            Short Description
            <br />
            @Html.EditorFor(model => model.ShortDesc, new { htmlAttributes = new { @class = "form-control-information" } })
        </p>

        <p id="desc" class="control-label">

            Description
            <br />
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control-information" } })
            @*<textarea class="form-information" rows="20" cols="100">
            @Model.Description;
        </textarea>*@
        </p>
        <p class="control-label">
            Image Link
            <br />
            @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control-information" } })
        </p>

        <p class="control-label">
            Tags<br />
            @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control form-control-input" } })
        </p>
        <p class="control-label">
            Category <br />
            @Html.DropDownListFor(model => model.CategoryID, ViewBag.Categories as SelectList, htmlAttributes: new { @class = "form-select" })
        </p>
        <p class="control-label">
            Publish Date
            <br />
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-control-input" } })
        </p>
        <p class="control-label">
            <input class="btn btn-default" type="submit" value="Сохранить" />

        </p>
        </form>
</fieldset>


<div>
    <a asp-action="Index">Back to List</a>
</div>
